<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<f:layout name="Backend"></f:layout>
    <f:flashMessages />
    <p>Data updated on <f:format.date date="now" format="d.m.y"></f:format.date></p>
    Version {result.lw_api.version}<br>
<br>
    <p>Following services are loaded/activated:<br>
    <f:for each="{result.services}" key="service" as="item">
        <f:switch expression="{service}">
            <f:case value="imprint">Imprint<br></f:case>
            <f:case value="dpstatement">Privacy Policy<br></f:case>
            <f:case value="contractterms">Contract Terms<br></f:case>
            <f:case value="contractcheckout">Contract Checkout<br></f:case>
            <f:case value="contractwithdrawal">Contract Withdrawal<br></f:case>
            <f:case value="contractwithdrawaldigital">Contract Withdrawal (Digital Products)<br></f:case>
            <f:case value="contractwithdrawalservice">Contract Withdrawal (Services)<br></f:case>
            <f:defaultCase></f:defaultCase>
        </f:switch>

    </f:for>
    </p>
</f:section>
</html>
